
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;

}

.nuevaboleta-form{
    display: flex;
    flex-direction: column;
}

.container-bills{
    display: block;
    margin-top: 1em !important;

}   
.field-bill{
    display: flex;
    flex-direction: column;
    margin: 0 3em 1em 0;
}
label{
    font-size: 22px;
    font-weight: 600;
    color: #272727;
}
input,select{
    width: 250px;
    font-size: 20px;
    color: #565656;
    font-size: 20px;
    border-radius: 6px;
    padding: 12px 24px;
    border: 1px solid #bfbfbf;
}

textarea{
    width: 500px;
    height: 300px;
    border-radius: 4px;
    border: 1px solid #bfbfbf;
    font-size: 18px;
    padding: 16px;
    color: #444444;

}



.first-group .group-field{
    display: flex;

    
}

.recibos-container{width: 100%;}

.recibos-container .header-bill-view{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-right: 4em;
    align-items: center;
}

.recibos-container .header-bill-view{

    h2{
        font-size: 28px;
        font-weight: 600;
        color: #121212;
    }
    p{
        margin-top: .5em;
        font-size: 22px;
        color: #666666;
    }
    a{
        padding: 24px 12px;
        background: #4FDBD8;
        color: #ffffff;
        width: 200px;
        border-radius: 6px;
        text-decoration: none;
        box-shadow: 0 12px 24px #4FDBD844;
        text-align: center;
    }
}

.btn-group{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em 0 2em 0;
}
.btn-group button{
    padding: 24px 12px;
    background: #4FDBD8;
    color: #ffffff;
    width: 360px;
    border-radius: 6px;
    text-decoration: none;
    box-shadow: 0 12px 24px #4FDBD844;
    text-align: center;
    border: none;
    font-size: 22px;
    font-weight: 600;
    cursor: pointer;
}

.group-btn-company{
    display: flex;
    margin: 1em 0;
}
.group-btn-company .newcompany{
    padding: 12px 12px;
    background: #4FDBD8;
    color: #ffffff;
    width: 360px;
    border-radius: 6px;
    text-decoration: none;
    box-shadow: 0 12px 24px #4FDBD844;
    text-align: center;
    border: none;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    
}


.group-btn-company > button{
    margin:  0  1em;
}

.group-btn-company .companyExist{
    padding: 12px 12px;
    background: #5067DB;
    color: #ffffff;
    width: 360px;
    border-radius: 6px;
    text-decoration: none;
    box-shadow: 0 12px 24px #5067DB44;
    text-align: center;
    border: none;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}
.decision{
    margin: 1em 0;
}