
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;

}
header{
    padding: 0 48px;
}
header nav{
    display: flex;
    flex-direction: column;
}




header nav a {
    font-size: 20px;
    font-weight: 600;
}

header nav .nav-item{
    
    cursor: pointer;
    opacity: .3;
    display: flex;
    align-items: center;
    margin: 1em 0;
    transition: all .2s ease-in;
   
}

header nav .nav-item:hover{
    opacity: 1;
}
header nav .nav-item img{
    margin-right: 12px;
}
#home-link{
    color: #5067DB;

}
#recibos-link{
    color: #4FDBD8;

}
#empresa-link{
    color: #681DFF;

}

